@charset "UTF-8"; 

* {
  -webkit-appearance: none;
  -moz-appearance: none;
}

:root {
  font-size: 12px;
}


body {
  background-color: #fafafa;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: white;
  border: 1px solid #f3f3f3;
  margin: 25px auto;
  width: 90%;
  max-width: 500px;
  padding: 20px 20px 20px 20px;
}

a {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: black;
}

footer {
  margin: 5px auto;
  width: 90%;
  max-width: 500px;
  text-align: center;
  color:rgba(0, 0, 0, 0.5);
}

footer a {
  color:rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

    footer a img {
      vertical-align: middle;
      opacity: 0.5;
    }

  footer a:hover {
    color:rgba(0, 0, 0, 1);
  }

  footer a:hover img {
    opacity: 1;
  }


p {
  margin-bottom: 0.5rem;
}

form {
  width: 100%;
  margin:0 auto;
}

fieldset > legend {
  margin: 0 auto 2rem auto;
  font-weight: bold;
  font-size: 1.5rem;
}

label {
  position: relative;
  display: block;
  margin-left: 2px;

  font-size: 1rem;
  color: #909090;
  text-transform: uppercase;
}


input[type="text"],
input[type="date"],
input[type="number"],
select,
option {
  width: calc(100% - 20px);
  margin: 0em 0 1.5rem 0;
  padding: 0.8rem;
  background-color: #ffffff;
  border: 1px solid #909090;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #000000;
}

input[type="radio"] {
  appearance: none;
  display:inline-block;
  width:auto;
  margin: 0.5rem 0.5rem 0 0;
  padding: 1rem 1em 1em 1em;
  background-color: #ffffff;
  border: 1px solid #909090;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #000000;  
}

  input[type="radio"]::before {
    content:attr(label);

  }

  input[type="radio"]:checked  {
    background-color: #1f5887;
    border: 1px solid #1f5887;
    color: #ffffff;  
  }

button {
  width:auto;
  min-width: 100px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #000000;
  border: 1px solid #909090;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
}

.border-main {
  border:1px solid #f7f7f7;
}

.rounded-main {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.space {
  margin: 20px 20px 20px 20px;

}

h1 {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2rem;
  margin-bottom: 1rem;
}



.msg {
  padding: 25px 25px 25px 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #eeeeee;
}

.bold {
  font-weight: bold;
}

.red {
  color: #ca0000;
}

.green {
  color:rgb(0, 255, 21);
}



#log {
  height: 250px;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: monospace;
  font-size: 1rem;
  color: #909090;
  background-color: black;
  border: 5px black solid;
  padding: 10px 10px 10px 10px;

}

.error {
  font-size: 1rem;
  color: red;
  background-color: #eeeeee;
  border: 1px red solid;
  padding: 10px 10px 10px 10px;
  margin-top: 25px;
  margin-bottom: 25px;
}



#top-allert {
  width:100%;
  position: fixed;
  text-align: center;
  background-color: #ca0000;
  color: white;
  font-family: monospace;
  font-size: 1em;
  padding: 3px 3px 3px 3px;
}

#branch {
  position: fixed;
  top:25px;
  right:0px;
  width:auto;
  padding: 5px 5px 5px 5px;
  background-color: black;
  color: white;
  font-size: 0.8rem;
}


nav ul li a {
  display: block;
  width:auto;
  padding: 10px 10px 10px 10px;
  margin: 10px 0px 10px 0px;
  background-color: #f0f0f0;
  color: black;
  text-decoration: none;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

}
  nav ul li a:hover {
    background-color: #1f5887;
    color: white;
  }

  article a {
    text-decoration: none;
    color: black;
  }