section {
  margin-bottom: 40px;
}

h2 {
  text-align: center;
  font-size: 2em;
  font-weight: normal;
  color: gray;
}

table {
  width: 100%;
}

  table td {
    width:25%;
    text-align: center;
    padding-right: 5px;
  }

    tr:nth-of-type(2) > td {
      padding-top: 25px;
      padding-bottom: 25px;
      font-size: large;
      background-color: rgba(0, 0, 0, 0.05);
    }