section {
  margin-bottom: 40px;
}

table {
  width: 100%;
}

  table td {
    width:33%;
    text-align: center;
  }

    tr:nth-of-type(2) > td {
      padding-top: 25px;
      padding-bottom: 25px;
      font-size: large;
    }